<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	

	<!-- 配置mybatis缓存，延迟加载等 -->
	<settings>
		<!-- 全局映射启动缓存 -->
		<setting name="cacheEnabled" value="false" />
		<!--查询时， 关闭关联查询，提高性能 -->
		<setting name="lazyLoadingEnabled" value="false" />
		
		<setting name="logImpl" value="LOG4J"/> 
		<setting name="logPrefix" value="dao."/>
	</settings>
    <plugins>
         <!-- PageHelper4.1.1 --> 
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="false"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>  
	
</configuration>