<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uton.carsokApi.dao.ApplyFundsMapper" >
  <resultMap id="BaseResultMap" type="com.uton.carsokApi.model.ApplyFunds" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, product_id, amount, status, create_time, update_time
  </sql>
  
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.uton.carsokApi.model.ApplyFunds" >
    select 
    <include refid="Base_Column_List" />
    from carsok_apply_funds
    <where>
		<if test="id != null ">
		and
			id = #{id}
		</if>
		<if test="accountId != null ">
		and
			account_id = #{accountId}
		</if>
	</where>
  </select>

  <select id="selectStatusByModel" resultMap="BaseResultMap" parameterType="com.uton.carsokApi.model.ApplyFunds" >
    select
    <include refid="Base_Column_List" />
    from carsok_apply_funds
    <where>
      <if test="productId != null ">
        and
        product_id = #{productId}
      </if>
    </where>
    limit 0,1
  </select>

  <select id="selectListByModel" resultMap="BaseResultMap" parameterType="com.uton.carsokApi.model.ApplyFunds" >
    select 
    <include refid="Base_Column_List" />
    from carsok_apply_funds
    <where>
		<if test="id != null ">
		and
			id = #{id}
		</if>
		<if test="accountId != null ">
		and
			account_id = #{accountId}
		</if>
	</where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from carsok_apply_funds
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.uton.carsokApi.model.ApplyFunds" >
    insert into carsok_apply_funds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.uton.carsokApi.model.ApplyFunds" >
    update carsok_apply_funds
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>