<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uton.carsokApi.dao.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.uton.carsokApi.model.Picture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pic_path, product_id, create_time, update_time
  </sql>
  
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.uton.carsokApi.model.Picture" >
    select 
    <include refid="Base_Column_List" />
    from carsok_picture
    <where>
		<if test="id != null ">
		and
			id = #{id}
		</if>
		<if test="productId != null ">
		and
			product_id = #{productId}
		</if>
		
		<if test="type != null ">
		and
			type = #{type}
		</if>
	</where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from carsok_picture
    where product_id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByPid" parameterType="java.lang.Integer" >
    delete from carsok_picture
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.uton.carsokApi.model.Picture" >
    insert into carsok_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
       <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.uton.carsokApi.model.Picture" >
    update carsok_picture
    <set >
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>